<launch>
  <!-- 啟動 RPLIDAR 驅動 
  <include file="$(find navigation)/launch/hector.launch" />-->
  <!-- 啟動 image_subscriber -->
  <node pkg="lane_pkg" type="camera_node.py" name="camera_node" output="screen" />

  <!-- 啟動 lane_detector -->
  <node pkg="lane_pkg" type="image_process_node.py" name="image_process_node" output="screen" />

  <!-- 啟動 lane_visualizer -->
  <node pkg="lane_pkg" type="send_serial_node.py" name="send_serial_node" output="screen" />
</launch>
